
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f3fc;
    color: #333;
}


/* Navigation Bar */

nav {
    background-color: #4b286d;
    color: white;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 18px 7%;

    position: sticky;
    top: 0;
    z-index: 100;
}

.logo {
    font-size: 27px;
    font-weight: bold;
    color: #e8c7ff;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: #e8c7ff;
}

.cart {
    font-size: 16px;
}

#cartCount {
    background-color: #9b59b6;
    padding: 4px 8px;
    border-radius: 50%;
}


/* Hero Section */

.hero {
    min-height: 500px;

    background:
        linear-gradient(
            rgba(55, 25, 80, 0.65),
            rgba(55, 25, 80, 0.65)
        ),
        url("https://images.unsplash.com/photo-1445205170230-053b83016050")
        center/cover;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    color: white;
}

.hero-text {
    max-width: 650px;
}

.hero h1 {
    font-size: 55px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.shop-btn {
    display: inline-block;

    background-color: #9b59b6;
    color: white;

    padding: 13px 30px;

    text-decoration: none;
    border-radius: 6px;

    font-weight: bold;
}

.shop-btn:hover {
    background-color: #7d3c98;
}


/* Common Sections */

section {
    padding: 60px 7%;
}

section h2 {
    text-align: center;
    margin-bottom: 35px;
    font-size: 32px;
    color: #4b286d;
}


/* Categories */

.categories {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.category {
    background-color: white;

    padding: 30px;

    text-align: center;

    border-radius: 12px;

    border: 1px solid #eadcf3;

    box-shadow: 0 3px 10px rgba(75, 40, 109, 0.08);

    transition: 0.3s;
}

.category:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(75, 40, 109, 0.15);
}

.category-icon {
    font-size: 55px;
    margin-bottom: 15px;
}

.category h3 {
    color: #4b286d;
    margin-bottom: 10px;
}


/* Products */

.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.product {
    background-color: white;

    padding: 20px;

    border-radius: 12px;

    text-align: center;

    border: 1px solid #eadcf3;

    box-shadow: 0 3px 10px rgba(75, 40, 109, 0.08);

    transition: 0.3s;
}

.product:hover {
    transform: translateY(-5px);
